body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background: #007398;
  color: white;
  padding: 0 30px;
}

.Instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;

  .block {
    background: white;
    border-radius: 3px;
    padding: 20px;
    color: black;
    margin: 20px;
    width: 100%;
  }

  h1 {
    text-align: center;
  }

  li {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
  }
}

a.link {
  color: cornflowerblue;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid cornflowerblue;
  padding: 5px 10px;
  margin: 0 5px;
  display: inline-block;
  border-radius: 3px;
}

#randomcolor > * {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem auto;
}

button {
  border-radius: 8px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Oxygen", sans-serif;
  letter-spacing: 2px;
}

.black {
  color: black;
}

.white {
  color: white;
}

.light-button {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0);
}

.dark-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
}
